<template>
 <div>
	 <Nav/>
  <section class="py-10 bg-[#eaeaea] sm:py-16 lg:py-24">
    <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
      <div class="grid items-center md:grid-cols-2 gap-y-10 md:gap-x-20">
        <div>
          <h3
            class="
              text-2xl
              font-bold
              leading-tight
              text-black
              sm:text-4xl
              lg:text-5xl
            "
          >
            <span class="relative inline-block">
              <svg
                viewBox="0 0 52 24"
                fill="currentColor"
                class="
                  absolute
                  top-0
                  left-0
                  z-0
                  hidden
                  w-32
                  -mt-8
                  -ml-20
                  text-blue-gray-100
                  lg:w-32 lg:-ml-28 lg:-mt-10
                  sm:block
                "
              >
                <defs>
                  <pattern
                    id="ea469ae8-e6ec-4aca-8875-fc402da4d16e"
                    x="0"
                    y="0"
                    width=".135"
                    height=".30"
                  >
                    <circle cx="1" cy="1" r=".7"></circle>
                  </pattern>
                </defs>
                <rect
                  fill="url(#ea469ae8-e6ec-4aca-8875-fc402da4d16e)"
                  width="52"
                  height="24"
                ></rect>
              </svg>
              <span class="relative">Manage  </span>
            </span>

            your home  with Smart  Solution.
          </h3>
          <p class="mt-4 text-base leading-relaxed text-gray-600">
           Easy operation and management of your home with smart home devices, including security cameras and door locks. Stay connected when you’re away from home with our mobile apps, which help you keep track of what's happening at all times.
          </p>
        </div>

        <div class="pr-12 sm:pr-0">
          <div class="relative max-w-xs mb-12">
            <img
              class="object-bottom rounded-md"
              src="../assets/hero1.jpg"
              alt=""
            />

            <img
              class="
                absolute
                origin-bottom-right
                scale-75
                rounded-md
                -bottom-12
                -right-14
              "
              src="../assets/hero2.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- user centered -->

 <section class="py-12 bg-[#eaeaea] sm:py-16 lg:py-20">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-center ">
          <h2
            class="
              text-3xl
              font-bold
              leading-tight
              text-gray-900
              sm:text-4xl
              xl:text-5xl
              font-pj
            "
          >
            Make every step user-centric
            <span class="relative">
              <svg
                viewBox="0 0 52 24"
                fill="currentColor"
                class="
                  absolute
                  top-0
                  left-0
                  z-0
                  hidden
                  w-32
                  -mt-8
                  -ml-24
                  text-blue-gray-100
                  lg:w-32 lg:-ml-28 lg:-mt-10
                  sm:block
                "
              >
                <defs>
                  <pattern
                    id="ea469ae8-e6ec-4aca-8875-fc402da4d16e"
                    x="0"
                    y="0"
                    width=".135"
                    height=".30"
                  >
                    <circle cx="1" cy="1" r=".7"></circle>
                  </pattern>
                </defs>
                <rect
                  fill="url(#ea469ae8-e6ec-4aca-8875-fc402da4d16e)"
                  width="52"
                  height="24"
                ></rect>
              </svg>
              <span class="relative"> </span>
            </span>
          </h2>
          <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-8 font-pj">
            Lorem ipsum dolor sit amet, consectetur adipis elit
          </p>
        </div>

        <div
          class="
            grid grid-cols-1
            mt-10
            text-center
            sm:mt-16 sm:grid-cols-2 sm:gap-x-12
            gap-y-12
            md:grid-cols-3 md:gap-0
            xl:mt-24
          "
        >
          <div class="md:p-8 lg:p-14">
            <svg
              class="mx-auto"
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M45 29V23C45 10.85 35.15 1 23 1C10.85 1 1 10.85 1 23V29"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13 29H1V41C1 43.209 2.791 45 5 45H13V29Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M45 29H33V45H41C43.209 45 45 43.209 45 41V29Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Support
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
             We bring you a smart solution for your home, smart device is one of them.It will help you to manage your home with ease and comfort
            </p>
          </div>

          <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200">
            <svg
            
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 mx-auto text-emerald-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"
              />
            </svg>

            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">Sales</h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
             It's a good day for you.
            </p>
          </div>

          <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200">
            <svg
              class="mx-auto text-emerald-400"
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M41 1H1V41H41V1Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18 7H7V20H18V7Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18 26H7V35H18V26Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M35 7H24V35H35V7Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Onboarding
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
             Smart home is a smart way to manage your home. The world has become faster and more convenient, while also more comfortable.  Why not take advantage of technology?
            </p>
          </div>

          <div class="md:p-8 lg:p-14 md:border-t md:border-gray-200">
            <svg
              class="mx-auto"
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.66667 25H6C3.23858 25 1 27.2386 1 30V37C1 39.7614 3.23858 42 6 42H36C38.7614 42 41 39.7614 41 37V30C41 27.2386 38.7614 25 36 25H31.8333C30.2685 25 29 26.2685 29 27.8333C29 29.3981 27.7315 30.6667 26.1667 30.6667H15.3333C13.7685 30.6667 12.5 29.3981 12.5 27.8333C12.5 26.2685 11.2315 25 9.66667 25Z"
                fill="#D4D4D8"
              />
              <path
                d="M9 9H33"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 17H33"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1 25H13V31H29V25H41"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M37 1H5C2.79086 1 1 2.79086 1 5V37C1 39.2091 2.79086 41 5 41H37C39.2091 41 41 39.2091 41 37V5C41 2.79086 39.2091 1 37 1Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Product
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Smart Solution is the smartest way to control your entire home. Control lighting, temperature, heating and more with just a glance of your smartphone.
            </p>
          </div>

          <div
            class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t"
          >
            <svg
              class="mx-auto"
              width="46"
              height="42"
              viewBox="0 0 46 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30.562 18.4609C30.0511 17.9392 29.4292 17.5392 28.7426 17.2907C28.0559 17.0422 27.3221 16.9516 26.5956 17.0256C25.8692 17.0996 25.1687 17.3362 24.5462 17.718C23.9237 18.0998 23.3952 18.6169 23 19.2309C22.6049 18.6167 22.0764 18.0995 21.4539 17.7176C20.8315 17.3357 20.1309 17.099 19.4044 17.025C18.6779 16.951 17.944 17.0417 17.2573 17.2903C16.5706 17.5389 15.9488 17.939 15.438 18.4609C14.5163 19.4035 14.0002 20.6695 14.0002 21.9879C14.0002 23.3063 14.5163 24.5722 15.438 25.5149L23 33.1999L30.564 25.5159C31.485 24.5726 32.0004 23.3064 32 21.988C31.9997 20.6696 31.4835 19.4037 30.562 18.4609Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M41 41H5C3.93913 41 2.92172 40.5786 2.17157 39.8284C1.42143 39.0783 1 38.0609 1 37V1H17L22 9H45V37C45 38.0609 44.5786 39.0783 43.8284 39.8284C43.0783 40.5786 42.0609 41 41 41Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Quality
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Enjoy the freedom and convenience of a home that’s at your fingertips, thanks to our smart home devices.
            </p>
          </div>

          <div
            class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t"
          >
            <svg
              class="mx-auto"
              width="44"
              height="44"
              viewBox="0 0 44 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25 7C34.941 7 43 15.059 43 25C43 34.941 34.941 43 25 43C15.059 43 7 34.941 7 25"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19 1C9.059 1 1 9.059 1 19H19V1Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Result
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Your smart home should be as easy to manage as it is to use. That's why we bring together all the devices you need into a single, streamlined app.
            </p>
          </div>
        </div>
      </div>
    </section>

  <!-- call to action  -->
  <section class="relative py-10 overflow-hidden bg-black sm:py-16 lg:py-24 xl:py-32">
    <div class="absolute inset-0">
        <img class="object-cover w-full h-full md:object-left md:scale-150 md:origin-top-left" src="https://cdn.rareblocks.xyz/collection/celebration/images/cta/5/girl-working-on-laptop.jpg" alt="" />
    </div>

    <div class="absolute inset-0 hidden bg-gradient-to-r md:block from-black to-transparent"></div>

    <div class="absolute inset-0 block bg-black/60 md:hidden"></div>

    <div class="relative px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="text-center md:w-2/3 lg:w-1/2 xl:w-1/3 md:text-left">
            <h2 class="text-3xl font-bold leading-tight text-white sm:text-4xl lg:text-5xl">Get full access to Smart Solution</h2>
            <p class="mt-4 text-base text-gray-200">You can enjoy a smarter home with our Smart Solution. Monitor and manage your home with an intelligent device.</p>

            <form action="#" method="POST" class="mt-8 lg:mt-12">
                <div class="flex flex-col items-center sm:flex-row sm:justify-center">
                    <div class="flex-1 w-full min-w-0 px-4 sm:px-0">
                        <div class="relative text-gray-400 focus-within:text-gray-600">
                            <label for="email" class="sr-only"></label>
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                </svg>
                            </div>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Enter email address"
                                class="block w-full py-4 pl-10 pr-4 text-base text-black placeholder-gray-500 transition-all duration-200 border-gray-200 rounded-md sm:rounded-r-none caret-blue-600 focus:border-blue-600 focus:ring-1 focus:ring-blue-600"
                                required
                            />
                        </div>
                    </div>

                    <button type="submit" class="inline-flex items-center justify-center flex-shrink-0 w-auto px-4 py-4 mt-4 font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md sm:mt-0 sm:rounded-l-none sm:w-auto hover:bg-blue-700 focus:bg-blue-700">
                        Get instant access
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
  <Footer/>
 </div>

</template>

<script setup>
import Nav from "@/Layout/Nav.vue";
import Footer from "@/components/Footer.vue"

</script>