<template>
    <section class="bg-white ">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="relative flex items-end px-4 pb-10 pt-60 sm:pb-16 md:justify-center lg:pb-24 bg-gray-50 sm:px-6 lg:px-8 min-h-screen">
            <div class="absolute inset-0">
                <img class="object-cover w-full h-full" src="../assets/smarthome.jpg" alt="" />
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

            <div class="relative">
                <div class="w-full max-w-xl xl:w-full xl:mx-auto xl:pr-24 xl:max-w-xl">
                    <h3 class="text-4xl font-bold text-white">Monitor and manage your home with an intelligent device. <br class="hidden xl:block" /></h3>
                     <ul class="grid grid-cols-1 mt-10 sm:grid-cols-2 gap-x-8 gap-y-4">
              <li class="flex items-center space-x-3">
                <div
                  class="
                    inline-flex
                    items-center
                    justify-center
                    flex-shrink-0
                    w-5
                    h-5
                    bg-blue-500
                    rounded-full
                  "
                >
                  <svg
                    class="w-3.5 h-3.5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <span class="text-lg font-medium text-white">
                  Monitor
                </span>
              </li>
              <li class="flex items-center space-x-3">
                <div
                  class="
                    inline-flex
                    items-center
                    justify-center
                    flex-shrink-0
                    w-5
                    h-5
                    bg-blue-500
                    rounded-full
                  "
                >
                  <svg
                    class="w-3.5 h-3.5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <span class="text-lg font-medium text-white">
                 Manage your home
                </span>
              </li>
              <li class="flex items-center space-x-3">
                <div
                  class="
                    inline-flex
                    items-center
                    justify-center
                    flex-shrink-0
                    w-5
                    h-5
                    bg-blue-500
                    rounded-full
                  "
                >
                  <svg
                    class="w-3.5 h-3.5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <span class="text-lg font-medium text-white">
                 Keep your home safe
                </span>
              </li>
              <li class="flex items-center space-x-3">
                <div
                  class="
                    inline-flex
                    items-center
                    justify-center
                    flex-shrink-0
                    w-5
                    h-5
                    bg-blue-500
                    rounded-full
                  "
                >
                  <svg
                    class="w-3.5 h-3.5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <span class="text-lg font-medium text-white">
                 Get the best 
                </span>
              </li>
            </ul>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center px-4 py-10 bg-white sm:px-6 lg:px-8 sm:py-16 lg:py-24">
            <div class="xl:w-full xl:max-w-sm 2xl:max-w-md xl:mx-auto">
                <h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl">Sign up to Smart Solution</h2>
                <p class="mt-2 text-base text-gray-600">Already have an account? <router-link to="/login"  class="font-medium text-blue-600 transition-all duration-200 hover:text-blue-700 focus:text-blue-700 ">Login</router-link></p>

                <form @submit="register" class="mt-8">
                    <div class="space-y-5">
                        <div>
                            <label for="" class="text-base font-medium text-gray-900"> Fast & Last name </label>
                            <div class="mt-2.5 relative text-gray-400 focus-within:text-gray-600">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                    </svg>
                                </div>

                                <input
                                    type="text"
                                    name=""
                                    required
                                    v-model="user.fullname"
                                    id=""
                                    placeholder="Enter your full name"
                                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 border border-gray-200 rounded-md bg-gray-50 focus:outline-none focus:border-blue-600 focus:bg-white caret-blue-600"
                                />
                            </div>
                        </div>

                        <div>
                            <label for="" class="text-base font-medium text-gray-900"> Email address </label>
                            <div class="mt-2.5 relative text-gray-400 focus-within:text-gray-600">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                    </svg>
                                </div>

                                <input
                                    type="email"
                                    name=""
                                    v-model="user.email"
                                    required
                                    id=""
                                    placeholder="Enter email to get started"
                                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 border border-gray-200 rounded-md bg-gray-50 focus:outline-none focus:border-blue-600 focus:bg-white caret-blue-600"
                                />
                            </div>
                        </div>

                        <div>
                            <label for="" class="text-base font-medium text-gray-900"> Password </label>
                            <div class="mt-2.5 relative text-gray-400 focus-within:text-gray-600">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
                                        />
                                    </svg>
                                </div>

                                <input
                                    type="password"
                                    name=""
                                    v-model="user.password"
                                    id=""
                                    required
                                    placeholder="Enter your password"
                                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 border border-gray-200 rounded-md bg-gray-50 focus:outline-none focus:border-blue-600 focus:bg-white caret-blue-600"
                                />
                            </div>
                        </div>

                        <div>
                            <button
                                type="submit"
                                class="inline-flex items-center justify-center w-full px-4 py-4 text-base font-semibold text-white transition-all duration-200 border border-transparent rounded-md bg-gradient-to-r from-fuchsia-600 to-blue-600 focus:outline-none hover:opacity-80 focus:opacity-80"
                            >
                                Sign up
                            </button>
                        </div>
                    </div>
                </form>

               


            </div>
        </div>
    </div>
</section>

</template>

<script setup>


import store from "../store";
import {useRouter} from 'vue-router'


import { notify } from "notiwind"


const router = useRouter()

const user = {
  fullname: "",
  email: "",
  password: "",
};





function register(e) {
  e.preventDefault();
  store.dispatch("register", user)

  .then(() => {
    notify({
      title: "Success",
      text: "You have successfully registered an account",
      type: "success",
      group:"alert",
      
    },3000);
    
    router.push({ name: "Login" });

    notify({
      title: "Success",
      text: "Please login to continue",
      type: "success",
      group:"alert",
      
    },3000);
    
    ;
  })
  .catch((err) => {
    notify({
      title: "Error",
      text: err.response.data.message,
      type: "error",
      group:'foo',
    });
    
  });
}

</script>
