<template>
  <div>
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold">
        <span class="dot bg-green-500 ml-2"></span>
        <span class="dot bg-yellow-500"></span>
        <span class="dot bg-red-500"></span>

        House Bills <i class="fas fa-money-bill"></i>
      </h1>

      <!-- Modal toggle -->
   <!-- Modal toggle -->
<button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" data-modal-toggle="authentication-modal">
  Add payment
</button>
    </div>

    <!-- search -->
    <div class="mt-4 p-4 w-full justify-content-center w-1/8">
      <!-- search -->
      <div class="flex justify-center">
        <div class="w-1/2">
          <div class="relative">
            <input
              type="text"
              v-model="search"
              class="
                w-full
                border-2 border-gray-400
                bg-white
                h-10
                px-5
                pr-16
                rounded-lg
                text-sm
                focus:outline-none
              "
              placeholder="Search a bill..."
            />
            <button type="submit" class="absolute right-0 top-0 mt-2 mr-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Main modal -->

<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="
              absolute
              top-3
              right-2.5
              text-gray-400
              bg-transparent
              hover:bg-gray-200 hover:text-gray-900
              rounded-lg
              text-sm
              p-1.5
              ml-auto
              inline-flex
              items-center
              dark:hover:bg-gray-800 dark:hover:text-white
            "
            data-modal-toggle="authentication-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="py-6 px-6 lg:px-8">
            <h3
              class="
                mb-4
                text-center text-xl
                font-medium
                text-gray-900
                dark:text-white
              "
            >
              Pay With Mpesa
            </h3>
            <form class="space-y-6" @submit="sendpay">
              <div class="flex flex-col space-y-2">
                <img
                  class="h-40"
                  src="https://www.safaricom.co.ke/images/till.png"
                  alt=""
                />
              </div>
              <div>
                <label
                  for="phone"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Your Phone Number</label
                >
                <input
                  type="text"
                  name="phone"
                  id="password"
                  
                  v-model="phone"
                  placeholder="0712345678"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  required=""
                />
              </div>
              <div>
                <label
                  for="password"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Amount</label
                >
                <input
                  type="text"
                  name="amount"
                  v-model="amount"
                  id="password"
                  placeholder="10..."
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  required=""
                />
              </div>

              <button
                type="submit"
                class="
                  w-full
                  text-white
                  bg-blue-700
                  hover:bg-blue-800
                  focus:ring-4 focus:outline-none focus:ring-blue-300
                  font-medium
                  rounded-lg
                  text-sm
                  px-5
                  py-2.5
                  text-center
                  dark:bg-blue-600
                  dark:hover:bg-blue-700
                  dark:focus:ring-blue-800
                "
              >
                Pay
              </button>
            </form>
          </div>
        </div>
      </div>
</div> 


    <!-- table -->
    <div class="w-full mt-5">
      <h1 class="text-2xl font-semibold">
        Latest Payments
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-7 h-7 inline-block ml-2 text-green-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941"
            />
          </svg>
        </span>
      </h1>
      <div class="bg-white shadow-md rounded mt-2">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr class="bg-green-200 text-gray-600 text-sm leading-normal">
              <th class="py-3 px-6 text-left">Receipt</th>
              <th class="py-3 px-6 text-left">Amount</th>
              <th class="py-3 px-6 text-center">Transaction Date</th>
              <th class="py-3 px-6 text-center">Status</th>
              <th class="py-3 px-6 text-center">Phone Number</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <tr
              class="border-b border-gray-200 hover:bg-gray-100"
              v-for="payment in payments"
              :key="payment._id"
            >
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium"># {{ payment.receipt }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium">{{ payment.amount }}</span>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center justify-center">
                  {{ payment.transactiondate }}
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <span
                  class="
                    bg-green-200
                    text-green-600
                    py-1
                    px-3
                    rounded-md
                    text-xs
                  "
                  >completed</span
                >
              </td>
              <td class="py-3 px-6 text-center">
                {{ payment.phonenumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  
</template>


<script>
import axios from "axios";
import { notify } from "notiwind";
export default {
  data() {
    return {
      payments: [],
      phone: "",
      amount: "",
      search:""
    };
  },
  created: function () {
    this.getpayments();
  },
  methods: {
    sendpay(ev) {
      ev.preventDefault();
      axios
        .post("https://ms-payment.herokuapp.com/mpesa/lipa-na-mpesa", {
          phone: this.phone,
          amount: this.amount,

          
        }
        
        )
        .then((response) => {
          console.log(response);
          notify({
            title: "Payment Sent",
            text: "Payment Sent Successfully ",
            type: "success",
            group:"alert"
          
          },1000);
        })
        .catch((error) => {
          console.log(error);
          notify({
            title: "Payment Failed",
            text: "Payment Failed",
            type: "error",
            group:"alert"
            
          },5000);
        });
        console.log(this.phone)
    },

    getpayments() {
      axios
        .get("https://ms-payment.herokuapp.com/mpesa/payments")
        .then((response) => {
          console.log(response.data);
          this.payments = response.data.payments;
        }).catch
        ((error) => {
          console.log(error);
        });
    },
  },
};
</script>
