<template>
<div>


<div>

    <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
          <!-- Value card -->
          <div
            class="
              flex
              items-center
              justify-between
              p-4
              bg-white
              rounded-md
              dark:bg-darker
            "
          >
            <div>
              <h6
                class="
                  text-xs
                  font-medium
                  leading-none
                  tracking-wider
                  text-gray-500
                  dark:text-primary-light
                "
              >
                <i class="fa fa-temperature-low"></i>
                Rooms
              </h6>
              <span class="text-xl font-semibold">{{ store.state.rooms.length}}</span>
              <span
                class="
                  inline-block
                  px-2
                  py-px
                  ml-2
                  text-xs text-green-500
                  bg-green-100
                  rounded-md
                "
              >
                used
              </span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </span>
            </div>
          </div>

          <!-- Users card -->
          <div
            class="
              flex
              items-center
              justify-between
              p-4
              bg-white
              rounded-md
              dark:bg-darker
            "
          >
            <div>
              <h6
                class="
                  text-xs
                  font-medium
                  leading-none
                  tracking-wider
                  text-gray-500
                  dark:text-primary-light
                "
              >
                Entertainment
              </h6>
              <span class="text-xl font-semibold">
                {{ store.state.movies.length}}
              </span>
              <span
                class="
                  inline-block
                  px-2
                  py-px
                  ml-2
                  text-xs text-green-500
                  bg-green-100
                  rounded-md
                "
              >
                new
              </span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </span>
            </div>
          </div>

          <!-- Orders card -->
          <div
            class="
              flex
              items-center
              justify-between
              p-4
              bg-white
              rounded-md
              dark:bg-darker
            "
          >
            <div>
              <h6
                class="
                  text-xs
                  font-medium
                  leading-none
                  tracking-wider
                  text-gray-500
                  dark:text-primary-light
                "
              >
                Bills
              </h6>
              <span class="text-xl font-semibold"></span>
              <span
                class="
                  inline-block
                  px-2
                  py-px
                  ml-2
                  text-xs text-green-500
                  bg-green-100
                  rounded-md
                "
              >
                paid
              </span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                  />
                </svg>
              </span>
            </div>
          </div>

          <!-- Tickets card -->
          <div
            class="
              flex
              items-center
              justify-between
              p-4
              bg-white
              rounded-md
              dark:bg-darker
            "
          >
            <div>
              <h6
                class="
                  text-xs
                  font-medium
                  leading-none
                  tracking-wider
                  text-gray-500
                  dark:text-primary-light
                "
              >
                 members
              </h6>
              <span class="text-xl font-semibold">
                <!-- {{ store.state.users.length}} -->
              </span>
              <span
                class="
                  inline-block
                  px-2
                  py-px
                  ml-2
                  text-xs text-green-500
                  bg-green-100
                  rounded-md
                "
              >
                <small>active</small>
              </span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
          <div class="md:col-span-2 lg:col-span-1">
            <div
              class="
                h-full
                py-8
                px-6
                space-y-6
                rounded-xl
                border border-gray-200
                bg-white
              "
            >
              <div>
                <h5 class="text-xl text-gray-600 text-center">
                  <span :class="{ 'text-red-500': ishot }">
                    <a @click="toggle">
                      <i class="fa fa-3x fa-temperature-low"></i>
                    </a>
                  </span>
                </h5>
                <div class="mt-2 flex justify-center gap-4">
                  <h4 class="text-md font-bold text-gray-700">
                    Avarage Room Temparature
                  </h4>
                  <div class="flex items-end gap-1 text-green-500">
                    <svg
                      class="w-3"
                      viewBox="0 0 12 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.00001 0L12 8H-3.05176e-05L6.00001 0Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span>45</span>
                  </div>
                </div>
                <span class="block text-center text-gray-500">
                  <small>Updated 2 seconds ago</small>
                </span>
              </div>
            </div>
            

          </div>
          <div class="md:col-span-2 lg:col-span-1">
            <div v-if="store.state.rooms.length == 0">

              <p class="text-center text-2xl text-semibold text-yellow-300 mt-4">Add Rooms to view security feed</p>


            </div>
           <div v-else>
            <iframe width="300" height="300" src="https://www.youtube.com/embed/XsbBFipg5W4?autoplay=1" title="Tvi cameras compared Hikvision Sony starlight starvis day-night cameras colour at night cctv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
            
           </div>

          </div>
          <div class="md:col-span-2 lg:col-span-1">
            <div
              class="
                h-full
                py-8
                px-6
                space-y-6
                rounded-xl
                border border-gray-200
                bg-white
              "
            >
              <div>
                <h5 class="text-xl text-gray-600 text-center">
                  <span :class="{ 'text-red-500': ishot }">
                    <a @click="toggle">
                      <i class="fa fa-3x fa-temperature-low"></i>
                    </a>
                  </span>
                </h5>
                <div class="mt-2 flex justify-center gap-4">
                  <h4 class="text-md font-bold text-gray-700">
                    Avarage Room Temparature
                  </h4>
                  <div class="flex items-end gap-1 text-green-500">
                    <svg
                      class="w-3"
                      viewBox="0 0 12 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.00001 0L12 8H-3.05176e-05L6.00001 0Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span>45</span>
                  </div>
                </div>
                <span class="block text-center text-gray-500">
                  <small>Updated 2 seconds ago</small>
                </span>
              </div>
            </div>
            

          </div>
        </div>

       
</div>

</div>

    
</template>

<script setup>

import { ref,computed } from "vue";
import { notify } from "notiwind"
const ishot = ref(true);
import store from "@/store";

store.dispatch("getRooms");
const rooms = computed(() => store.state.rooms);

const toggle = () => {
  ishot.value = !ishot.value;
  notify(
    {
      group: "alert",
      title: "Cooling Down",
      text: "Cooling down the temparature",
      type: "success",
    },
    5000
  );
};
</script>
