<template>
    <div>
        <!-- search -->
      <div class="mt-4 p-4 w-full justify-content-center w-1/8">

        <!-- search -->
        <div class="flex justify-center">
            <div class="w-1/2">
                <div class="relative">
                    <input
                        
                        type="text"
                        v-model="search"
                        class="
                            w-full
                            border-2
                            border-gray-400
                            bg-white
                            h-10
                            px-5
                            pr-16
                            rounded-lg
                            text-sm
                            focus:outline-none
                        "
                        placeholder="Search a movie..."
                    />
                    <button type="submit" class="absolute right-0 top-0 mt-2 mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>

                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- movie -->


   <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 mt-4">
              <div v-for="(m,i) in movies" :key="i" >
              <div class="md:col-span-2 lg:col-span-1">
                <div
                  class="
                    w-full
                    max-w-xs
                    overflow-hidden
                    bg-white
                    rounded-lg
                    shadow-lg
                    dark:bg-gray-800
                  "
                >
                  <img
                    class="object-cover w-full h-40"
                    :src="m.Poster"
                    alt="avatar"
                  />

                  <div class="py-5 text-center">
                 
                {{ m.Title}}

                    <span class="text-sm text-gray-700 dark:text-gray-200"
                      >
                     {{m.Genre}}
                      </span
                    >
                  </div>
                </div>
              </div>
              </div>

            </div>

    </div>
</template>

<script setup>
import store from "@/store"
import { ref,computed } from "vue";

const search = ref("");

let model = ref({
    Title:"",
    Year:"", 
    Rated: "",
    Released: "",
    Runtime: "",
    Genre: "",
    Director: "",
    Writer: "",
    Actors: "",
    Plot: "",
    Language: "",
    Country: "",
    Awards: "",
    Poster: "",
    Metascore: "",
    imdbRating: "",
    imdbVotes: "",
    imdbID: "",
    Type: "",
    Response: ""

 

});

const movies = computed(() => store.state.movies.filter((m) => m.Title.toLowerCase().includes(search.value.toLowerCase())));



</script>