<template>

<div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold">
          <span class="dot bg-green-500 ml-2"></span>
          <span class="dot bg-yellow-500"></span>
          <span class="dot bg-red-500"></span>

          
        </h1>

<button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" data-modal-toggle="authentication-modal">
  Add Room
</button>
      </div>



   <div
      id="authentication-modal"
      tabindex="-1"
      aria-hidden="true"
      class="
        hidden
        overflow-y-auto overflow-x-hidden
        fixed
        top-0
        right-0
        left-0
        z-50
        w-full
        md:inset-0
        h-modal
        md:h-full
        justify-center
        items-center
      "
    >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="
              absolute
              top-3
              right-2.5
              text-gray-400
              bg-transparent
              hover:bg-gray-200 hover:text-gray-900
              rounded-lg
              text-sm
              p-1.5
              ml-auto
              inline-flex
              items-center
              dark:hover:bg-gray-800 dark:hover:text-white
            "
            data-modal-toggle="authentication-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="py-6 px-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
              Add A Room
            </h3>
            <form class="space-y-6" @submit="saveRomm">
              <div>
                <label
                  for="title"
                  class="
                    block
                    mb-1
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Room name</label
                >
                <input
                  type="text"
                  name="title"
                  v-model="model.name"
                  id="title"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  placeholder="title"
                  required=""
                />
              </div>
                  <div>
                <label
                  for="title"
                  class="
                    block
                    mb-1
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Room Image</label
                >
                <input
                  type="text"
                  name="title"
                  v-model="model.image"
                  id="title"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  placeholder="image url ..."
                  
                />
              </div>
          
              
            
         

              <button
                type="submit"
                class="
                  w-full
                  text-white
                  bg-blue-700
                  hover:bg-blue-800
                  focus:ring-4 focus:outline-none focus:ring-blue-300
                  font-medium
                  rounded-lg
                  text-sm
                  px-5
                  py-2.5
                  text-center
                  dark:bg-blue-600
                  dark:hover:bg-blue-700
                  dark:focus:ring-blue-800
                "
              >
                Add Room
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>


       
       <div class="
       mt-4">
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-2">
         

            <div
                v-for="room in rooms"
                :key="room._id"
                class="
               
                "   
            >

          <div class="md:col-span-2 lg:col-span-1">
            <div  class="bg-white w-128 h-60 rounded shadow-md flex card text-grey-darkest">
            <img class="w-1/2 h-full rounded-l-sm" :src="room.image" alt="Room Image">
            <div class="w-full flex flex-col">
                <div class="p-4 pb-0 flex-1">
                    <h3 class="font-light mb-1 text-grey-darkest">{{room.name}}</h3>
                    
                    <span class="text-5xl text-grey-darkest"><span class="text-lg"> </span></span>
                    <div class="flex items-center mt-4">
                        <div class="pr-2 text-xs">
                            <i class="fas fa-wifi text-green"></i> Free WiFi
                        </div>
                        <div @click="switchlights(room._id)" class="px-2 text-xs">
                           
                              <div v-if="room.lights">
                                <i  class="text-green-500 far fa-3x fa-lightbulb"></i> lights
                              </div>
                              <div v-else>
                                <i class="text-red-500 far fa-3x fa-lightbulb"></i> lights
                              </div>
                           
                            
                        </div>
                        <div class="px-2 text-xs">
                            <i class="text-grey-darker far fa-building"></i> doors
                        </div>
                    </div>
                </div>
                <div class="bg-grey-lighter p-3 flex items-center justify-between transition hover:bg-grey-light">
                    <router-link
                :to="{ name: 'SingleRoom', params: { id: room._id } }"
                class="
                  font-medium
                  text-blue-600
                  dark:text-blue-500
                  hover:underline
                "
              >
                View
              </router-link>

                    <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5 inline-block mr-1 text-red-600"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 011 1v1H3V5zm1 2v9a2 2 0 002 2h8a2 2 0 002-2V7H4zm2 0h8v9H6V7z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span
                  class="
                    text-red-500
                    border-b-2 border-red-500
                    opacity-75
                    hover:text-red-600
                    transition
                    duration-300
                    ease-in-out
                    cursor-pointer
                  "
                  @click="deleteRoom(room._id)"
                  >Delete</span
                >
                </div>
            </div>
            </div>
            
          </div>

         </div>          
        </div>

       </div>


   


    
</template>
                                                   
                                                                                                           
<script setup>


import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import store from "@/store";
import { notify } from "notiwind"
import { computed } from "vue";
const route = useRoute();

const router = useRouter();



let model = ref({
    name: "",
    image:"",
    lights: false,
    temperature:0,
    doorstatus:false
   
 

});

store.dispatch("getRooms");

const rooms = computed(() => store.state.rooms);


const saveRomm = async (ev) => {
    ev.preventDefault();  
  await store.dispatch("addRoom", model.value);
  notify({
    title: model.value.name,
    text: "Room Created Successfully",
    type: "success",
    group:'alert',
    
  },3000);

  router.push({ name: "Rooms" });
};



function updateTask(id) {
  let task = tasks.value.find((task) => task._id === id);

  task = {
    id: task._id,
    completed: !task.completed,
  };

  store.dispatch("updateTask", task);
  notify(
    {
      title: "Task Updated",
      text: "Task status updated successfully",
      type: "success",
      group: "alert",
    },
    3000
  );
}

function switchlights(id){
  let room = rooms.value.find((room) => room._id === id);
  room = {
    id: room._id,
    lights: !room.lights,
  };
  store.dispatch("switchlights", room);
  notify(
    {
      title: "Lights Updated",
      text: "Lights status updated successfully",
      type: "success",
      group: "alert",
    },
    3000
  );
}

function deleteRoom(id) {
  store.dispatch("deleteRoom", id);
  store.dispatch("getRooms");
  notify(
    {
      title: "Room Deleted",
      text: "Room has been deleted successfully",
      type: "error",
      group: "alert",
    },
    3000
  );
}






</script>

<style scoped>
</style>
