<template>
  <div>
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold"></h1>

      <button
        class="
          block
          text-white
          bg-blue-700
          hover:bg-blue-800
          focus:ring-4 focus:outline-none focus:ring-blue-300
          font-medium
          rounded-lg
          text-sm
          px-5
          py-2.5
          text-center
          dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
        "
        type="button"
        data-modal-toggle="authentication-modal"
      >
        Add A schedule
      </button>
    </div>

    <!-- form -->

    <!-- Main modal -->
    <div
      id="authentication-modal"
      tabindex="-1"
      aria-hidden="true"
      class="
        hidden
        overflow-y-auto overflow-x-hidden
        fixed
        top-0
        right-0
        left-0
        z-50
        w-full
        md:inset-0
        h-modal
        md:h-full
        justify-center
        items-center
      "
    >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="
              absolute
              top-3
              right-2.5
              text-gray-400
              bg-transparent
              hover:bg-gray-200 hover:text-gray-900
              rounded-lg
              text-sm
              p-1.5
              ml-auto
              inline-flex
              items-center
              dark:hover:bg-gray-800 dark:hover:text-white
            "
            data-modal-toggle="authentication-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="py-6 px-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
              Add A Schedule
            </h3>
            <form class="space-y-6" @submit="addSchedule">
              <div>
                <label
                  for="title"
                  class="
                    block
                    mb-1
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Title</label
                >
                <input
                  type="text"
                  name="title"
                  v-model="model.title"
                  id="title"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  placeholder="title"
                  required=""
                />
              </div>
              <div>
                <label
                  for="title"
                  class="
                    block
                    mb-1
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Description</label
                >
                <textarea
                  type="text"
                  name="title"
                  v-model="model.description"
                  id="title"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  placeholder="description......."
                  required=""
                >
                </textarea>
              </div>
               <div>
                <label
                  for="title"
                  class="
                    block
                    mb-1
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Date</label
                >
                <input
                  type="Date"
                  name="title"
                  v-model="model.date"
                  id="title"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded-lg
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  placeholder="name@company.com"
                  required=""
                />
              </div>
            
              <div>
                <label
                  for="title"
                  class="
                    block
                    mb-1
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Notification</label
                >
              <select
              id="notification"
              v-model="model.notification"
              name="notification"
              autocomplete="notification"
              class="
                mt-1
                block
                w-full
                focus:ring-indigo-500 focus:border-indigo-500
                sm:text-sm
                border-gray-300
                rounded-md
              "
            >
              <option value="true">On</option>
              <option value="false">Off</option>
             
            </select>

              </div>

              <button
                type="submit"
                class="
                  w-full
                  text-white
                  bg-blue-700
                  hover:bg-blue-800
                  focus:ring-4 focus:outline-none focus:ring-blue-300
                  font-medium
                  rounded-lg
                  text-sm
                  px-5
                  py-2.5
                  text-center
                  dark:bg-blue-600
                  dark:hover:bg-blue-700
                  dark:focus:ring-blue-800
                "
              >
                Add Schedule
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="w-full mt-5">
      <h1 class="text-2xl font-semibold">
        My Schedule
        <span>
          <i class="far fa-bell text-yellow-300"></i>
        </span>
      </h1>
      <div class="bg-white shadow-md rounded mt-2">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr class="bg-yellow-200 text-gray-600 text-sm leading-normal">
              <th class="py-3 px-6 text-left">Name</th>
              <th class="py-3 px-6 text-left">Description</th>
              <th class="py-3 px-6 text-center">Date</th>
              <th class="py-3 px-6 text-center">Notification Status</th>
            </tr>
          </thead>
          <div v-if="schedules">
            <tbody class="text-gray-600 text-sm font-light">
            <tr  v-for="schedule in schedules" :key="schedule._id" class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium">{{schedule.title}}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium">{{schedule.description}}</span>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center justify-center">
                {{schedule.date}}
                </div>
              </td>
               
              <td class="py-3 px-6 text-center">
               <div v-if="schedule.notification">
                 <span
                  class="
                    bg-green-200
                    text-green-600
                    py-1
                    px-3
                    rounded-md
                    text-xs
                  "
                  >on</span
                >
               </div>
                <div v-else>
                  <span
                    class="
                      bg-red-200
                      text-red-600
                      py-1
                      px-3
                      rounded-md
                      text-xs
                    "
                    >off</span
                  >
                </div>
              </td>
              
            </tr>
          </tbody>


          </div>
          <div v-else>
            <h1 class="
            text-center
            text-2xl
            font-semibold
            text-gray-500
            dark:text-gray-400
            
            ">No Schedule</h1>

          </div>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import {computed } from "vue"
import { notify } from "notiwind"
import { useStore } from "vuex";
import store from "@/store";



let model = ref({
 title:"",
 description:"",
 date:"",
 time:"",
 notification:""

 

});

store.dispatch("getSchedule");

const schedules = computed(() => store.state.schedules);

const addSchedule = async (e) => {
 e.preventDefault();
 await store.dispatch("addSchedule", model.value);
  notify({
    title: model.value.name,
    text: "Room Created Successfully",
    type: "success",
    group:'alert',
    
  },3000);

};



</script>