<template>
    <div>
        


               <div class="
       mt-4">
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-2">
         

            <div
                v-for="room in rooms"
                :key="room._id"
                class="
               
                "   
            >

          <div class="md:col-span-2 lg:col-span-1">
            <div  class="bg-white w-128 h-60 rounded shadow-md flex card text-grey-darkest">
           <div class="w-full h-200">
        <iframe  height="230" src="https://www.youtube.com/embed/9wxEmqyVlB8?autoplay=1"  title="HD-SDI CCTV Camera Full 1080p Resolution Video Sample" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
           </div>
            <div class="w-full flex flex-col">
                <div class="p-4 pb-0 flex-1">
                    <h3 class="font-light mb-1 text-grey-darkest"> <i class="fas fa-video"></i> {{room.name}}</h3>
                    
                    <span class="text-5xl text-grey-darkest"><span class="text-lg"> </span></span>
                    <div class="flex items-center mt-4">
                       
                       
                        
                    </div>
                </div>
                
            </div>
            </div>
            
          </div>

         </div>          
        </div>

       </div>

    </div>
</template>


<script setup>


import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import store from "@/store";
import { notify } from "notiwind"
import { computed } from "vue";
const route = useRoute();

const router = useRouter();



let model = ref({
    name: "",
    image:"",
    doorstatus:"",
    temperature:"",
    lights:"",
 

});

store.dispatch("getRooms");

const rooms = computed(() => store.state.rooms);















</script>

<style scoped>
</style>
