<template>
    <div>
        
       <div class="flex flex-col items-center justify-center w-full  mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" >
      <img class="
      w-full h-64 bg-gray-300  object-fill   rounded-lg shadow-md" :src="model.image">
    

    
  
    </div>

    <div class="w-1/2 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-1/2 dark:bg-gray-800">
        <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">{{model.name}}</h3>

        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
            <span class="font-bold text-gray-800 dark:text-gray-200">
                <div v-if="model.lights">
                    <i  class="text-green-500 far fa-3x fa-lightbulb"></i>
                      <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"> On</button>

                </div>
                <div v-else>
                    <i class="text-red-500 far fa-3x fa-lightbulb"></i>
                      <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"> Off</button>
                </div>

               
               </span>
               <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">Lights </button>
          

            
        </div>

        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
            <span class="font-bold text-gray-800 dark:text-gray-200"> 
              <div v-if="model.doorstatus">
                <i class="fas text-red-500 fa-door-open"></i>
                <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">Open</button>
              </div>
              <div v-else>
               <i class="fas fa-2x text-green-400 fa-door-closed"></i>
               <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">Closed</button>
              </div>
             
              
              </span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">Door</button>

            
        </div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
            <span class="font-bold text-gray-800 dark:text-gray-200">  <i class="fa fa-3x fa-temperature-low"></i>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">{{model.temperature}}</button>
            </span>
            <p class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">temperature</p>

            
        </div>

    </div>
</div>

    </div>
</template>


<script setup>


import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import store from "../store";

const route = useRoute();

const router = useRouter();



let model = ref({
    name: "",
    image:"",
    doorstatus:"",
    temperature:"",
    lights:""
 

});


if (route.params.id) {
  model.value = store.state.rooms.find(
    (room) => room._id === route.params.id
  );
}

const updateRoom = async () => {
  await store.dispatch("updateRoom", model.value);
  router.push("/rooms");
};

const deleteRoom = async () => {
  await store.dispatch("deleteRoom", model.value);
  router.push("/rooms");
};


</script>

<style scoped>
</style>
