<template>
  <section class="py-10 bg-[#e4e3e3] sm:pt-16 lg:pt-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div
        class="grid grid-cols-2 md:col-span-3 lg:grid-cols-6 gap-y-16 gap-x-12"
      >
        <div class="col-span-2 md:col-span-3 lg:col-span-2 lg:pr-8">
          <h2 class="
		  font-bold
			text-2xl
		  ">
			<span class="
			text-blue-700
			

			">Smart </span> Solution
		  </h2>

          <p class="text-base leading-relaxed text-gray-900 mt-7">
           These smart home devices bring a new dimension to your home. From thermostats and temperature sensors to smart locks and cameras you can control them all from your smartphone or tablet.
          </p>

          <p class="text-base leading-relaxed text-gray-900 mt-7">
             For business inquiries, please contact us at.
          </p>
            <span 
            class="
            mt-7
            "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 inline-block mr-2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>

              <a class="
              text-blue-600
              mt-7
              font-bold
              " href="mailto:info@samuel-kago.tech"> info@samuel-kago.tech </a>
            </span>
          
        </div>

        <div>
          <p
            class="
              text-sm
              font-semibold
              tracking-widest
              text-gray-900
              uppercase
            "
          >
            Company
          </p>

          <ul class="mt-6 space-y-4">
            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                About
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Features
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Works
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Career
              </a>
            </li>
          </ul>
        </div>

        <div>
          <p
            class="
              text-sm
              font-semibold
              tracking-widest
              text-gray-900
              uppercase
            "
          >
            Help
          </p>

          <ul class="mt-6 space-y-4">
            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Customer Support
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Delivery Details
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Terms & Conditions
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
        <div>
          <p
            class="
              text-sm
              font-semibold
              tracking-widest
              text-gray-900
              uppercase
            "
          >
            Legal
          </p>

          <ul class="mt-6 space-y-4">
            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Terms & Conditions
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="
                  flex
                  text-base text-black
                  transition-all
                  duration-200
                  hover:text-blue-600
                  focus:text-blue-600
                "
              >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>