<template>
    <div>
        <!-- nav -->
        <!-- content -->
        <div
    class="
      flex
      antialiased
      text-gray-900
      bg-gray-100
      dark:bg-dark dark:text-light
    "
  >
    <!-- sidenav -->
    <aside
      class="
        ml-[-100%]
        fixed
        z-10
        top-0
        pb-3
        px-6
        w-full
        flex flex-col
        justify-between
        h-screen
        border-r
        bg-white
        transition
        duration-300
        md:w-4/12
        lg:ml-0 lg:w-[25%]
        xl:w-[20%]
        2xl:w-[15%]
      "
    >
      <div>
        <div class="-mx-6 px-6 py-4">
          <a href="#" title="home">
            <img
              src="../assets/smart-home.svg"
              class="w-22 h-20 inline-block mr-1 text-red-400"
              alt="tailus logo"
            />
            Smart home
          </a>
        </div>

        <!-- <div class="mt-4 text-center">
          <img
            src="https://tailus.io/sources/blocks/stats-cards/preview/images/second_user.webp"
            alt=""
            class="w-6 h-6 m-auto rounded-full object-cover lg:w-20 lg:h-20"
          />
          <h5 class="hidden mt-4 text-xl font-semibold text-gray-600 lg:block">
            Cynthia J. Watts
          </h5>
          <span class="hidden text-gray-400 lg:block">Admin</span>
        </div> -->

        <ul class="space-y-2 tracking-wide mt-4">
          <li>
            <router-link
              :to="{ name: 'Dashboard' }"
              aria-label="dashboard"
              class="
                relative
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-xl
                text-white
                bg-gradient-to-r
                from-sky-600
                to-cyan-400
              "
            >
              <svg class="-ml-1 h-6 w-6" viewBox="0 0 24 24" fill="none">
                <path
                  d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z"
                  class="fill-current text-cyan-400 dark:fill-slate-600"
                ></path>
                <path
                  d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z"
                  class="fill-current text-cyan-200 group-hover:text-cyan-300"
                ></path>
                <path
                  d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z"
                  class="fill-current group-hover:text-sky-300"
                ></path>
              </svg>
              <span class="-mr-1 font-medium">Dashboard</span>
            </router-link>
          </li>
          <li>
            <router-link
              :to="{ name: 'Rooms' }"
              class="
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-md
                text-gray-600
                group
                hover:bg-emerald-300
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  class="fill-current text-gray-300 group-hover:text-cyan-300"
                  fill-rule="evenodd"
                  d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z"
                  clip-rule="evenodd"
                />
                <path
                  class="fill-current text-gray-600 group-hover:text-cyan-600"
                  d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z"
                />
              </svg>
              <span class="group-hover:text-gray-700">My Home</span>
            </router-link>
          </li>
          <li>
            <router-link
              :to="{ name: 'Security' }"
              class="
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-md
                text-gray-600
                group
                hover:bg-emerald-300
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  class="fill-current text-gray-600 group-hover:text-cyan-600"
                  fill-rule="evenodd"
                  d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                  clip-rule="evenodd"
                />
                <path
                  class="fill-current text-gray-300 group-hover:text-cyan-300"
                  d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"
                />
              </svg>
              <span class="group-hover:text-gray-700">Security Feed</span>
            </router-link>
          </li>
          <li>
            <router-link
              :to="{ name: 'Entertainment' }"
              class="
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-md
                text-gray-600
                group
                hover:bg-emerald-300
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  class="fill-current text-gray-600 group-hover:text-cyan-600"
                  d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"
                />
                <path
                  class="fill-current text-gray-300 group-hover:text-cyan-300"
                  d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"
                />
              </svg>
              <span class="group-hover:text-gray-700">Entertainment</span>
            </router-link>
          </li>
          <li>
            <router-link
              :to="{ name: 'Bills' }"
              class="
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-md
                text-gray-600
                group
                hover:bg-emerald-300
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  class="fill-current text-gray-300 group-hover:text-cyan-300"
                  d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"
                />
                <path
                  class="fill-current text-gray-600 group-hover:text-cyan-600"
                  fill-rule="evenodd"
                  d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="group-hover:text-gray-700">My Bills</span>
            </router-link>
          </li>
         
          <li>
            <router-link
              :to="{ name: 'Schedule' }"
              class="
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-md
                text-gray-600
                group
                hover:bg-emerald-300
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  class="fill-current text-gray-300 group-hover:text-cyan-300"
                  d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"
                />
                <path
                  class="fill-current text-gray-600 group-hover:text-cyan-600"
                  fill-rule="evenodd"
                  d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="group-hover:text-gray-700">My Schedule</span>
            </router-link>
          </li>
           <li>
            <router-link
              :to="{ name: 'Profile' }"
              class="
                px-4
                py-3
                flex
                items-center
                space-x-4
                rounded-md
                text-gray-600
                group
                hover:bg-emerald-300
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  class="fill-current text-gray-300 group-hover:text-cyan-300"
                  d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"
                />
                <path
                  class="fill-current text-gray-600 group-hover:text-cyan-600"
                  fill-rule="evenodd"
                  d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="group-hover:text-gray-700">My Profile</span>
            </router-link>
          </li>
        </ul>
      </div>

      <div class="px-6 -mx-6 pt-4 flex justify-between items-center border-t">
        <button
          class="
            px-4
            py-3
            flex
            items-center
            space-x-4
            rounded-md
            text-gray-600
            group
            hover:bg-red-300
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            />
          </svg>
          <span @click="logout" class="group-hover:text-gray-700">Logout</span>
        </button>
      </div>
    </aside>
    <!-- endsidenav -->

    <!-- main -->
    <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
      <div class="sticky  z-10 top-0 h-16 border-b bg-white lg:py-2.5">
        <div
          class="px-6 flex items-center justify-between space-x-4 2xl:container"
        >
          <h5 hidden class="text-2xl text-gray-600 font-medium lg:block">
          
            Dashboard
          </h5>
          <button class="w-12 h-16 -mr-2 border-r lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 my-auto"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
          <div class="flex space-x-4">
            <!--search bar -->
            <div hidden class="md:block">
              <div
                class="
                  relative
                  flex
                  items-center
                  text-gray-400
                  focus-within:text-cyan-400
                "
              >
                <span
                  class="
                    absolute
                    left-4
                    h-6
                    flex
                    items-center
                    pr-3
                    border-r border-gray-300
                  "
                >
                  <svg
                    xmlns="http://ww50w3.org/2000/svg"
                    class="w-4 fill-current"
                    viewBox="0 0 35.997 36.004"
                  >
                    <path
                      id="Icon_awesome-search"
                      data-name="search"
                      d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
                    ></path>
                  </svg>
                </span>
                <input
                  type="search"
                  name="leadingIcon"
                  id="leadingIcon"
                  placeholder="Search here"
                  class="
                    w-full
                    pl-14
                    pr-4
                    py-2.5
                    rounded-xl
                    text-sm text-gray-600
                    outline-none
                    border border-gray-300
                    focus:border-cyan-300
                    transition
                  "
                />
              </div>
            </div>
            <!--/search bar -->
            <button
              aria-label="search"
              class="
                w-10
                h-10
                rounded-xl
                border
                bg-gray-100
                focus:bg-gray-100
                active:bg-gray-200
                md:hidden
              "
            >
              <svg
                xmlns="http://ww50w3.org/2000/svg"
                class="w-4 mx-auto fill-current text-gray-600"
                viewBox="0 0 35.997 36.004"
              >
                <path
                  id="Icon_awesome-search"
                  data-name="search"
                  d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
                ></path>
              </svg>
            </button>
            <button
              aria-label="chat"
              class="
                w-10
                h-10
                rounded-xl
                border
                bg-gray-100
                focus:bg-gray-100
                active:bg-gray-200
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 m-auto text-gray-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
                />
              </svg>
            </button>
            <button
              aria-label="notification"
              class="
                w-10
                h-10
                rounded-xl
                border
                bg-gray-100
                focus:bg-gray-100
                active:bg-gray-200
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 m-auto text-gray-600"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="px-6 pt-6 2xl:container">
        <!-- router view -->
        <router-view></router-view>
      </div>
    </div>
    <!-- end main -->
  </div>

    </div>
</template>



<script >

import { useStore } from "vuex";
import { computed ,ref } from "vue";
import { notify } from "notiwind"
import {useRouter} from 'vue-router'




export default {
  components: {
   
  },

  setup() {
    const store = useStore();
    const router = useRouter()

    

    function logout(){
      store.dispatch('logout').then(() => {
        router.push({name: 'Home'})
        notify({
          title: 'Success',
          text: 'Logged out successfully',
          type: 'success',
          group: 'foo',
        },3000)
      })
     
    }

    store.dispatch("fetchUser");

 
 return{

  user: computed(() => store.state.user.data),
  logout,


    
 }



  

  },
}

</script>
